---
import Navbar from "../components/Navbar.astro";
---

<Navbar />
<div class="hero mt-8">
  <div
    class="hero-content flex-col lg:flex-row pt-8 pb-16 rounded-lg shadow-2xl border-t-2 border-l-4 border-base-300"
  >
    <img src="/logo.png" class="float-left" alt="avatar" />
    <div class="flex flex-col h-fit">
      <h1 class="text-5xl font-bold mb-2">Hi there!</h1>
      <p>
        Welcome to my website, I'm Megatank58, a programmer from India with a
        strong interest in coding in Rust and JavaScript. With three years of
        experience, I'm always eager to learn and explore new technologies,
        including my latest pursuit of Haskell. Be sure to check my GitHub for a
        feed of my latest projects.
      </p>
    </div>

    <a class="btn btn-primary float-right mt-auto" href="/projects"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 24 24"
        ><path
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          d="m9 6l6 6l-6 6"></path></svg
      ></a
    >
  </div>
</div>
