body {
  background-color: #191919;
}

.navbar {
  background-color: #202020;
  padding: 20px;
  display: flex;
  border-radius: 15px;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar .links {
  margin-right: auto;
}

.navbar a:hover {
  color: #35acf1;
}
.links {
  color: #f3f3f3;
}

.link {
  color: #f3f3f3;
}

.bold {
  font-family: system-ui;
  font-weight: bold;
}