body {
  background-color: #191919;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 0 auto;
}

::-webkit-scrollbar {
  width: 10px;
}

/* scroll bar */

::-webkit-scrollbar-track {
  background: #555;
}

::-webkit-scrollbar-thumb {
  background: #333;
}

::-webkit-scrollbar-thumb:hover {
  background: #444;
}

.white {
  color: #f3f3f3;
}

.button {
  color: white;
  background-color: #35acf1;
  border-radius: 8px;
}

.button:hover {
  color: white;
}

.center {
  text-align: center;
}

.bold {
  font-family: system-ui;
  font-weight: bold;
}

a {
  text-decoration: none;
}
