@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
  background-color: #191919;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 0 auto;
  font-family: Roboto;
}

a {
  text-decoration: none;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* scroll bar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #555;
}

::-webkit-scrollbar-thumb {
  background: #333;
}

::-webkit-scrollbar-thumb:hover {
  background: #444;
}
