.project-list {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  margin: auto;
}

/* a single block element preview */

.project-preview {
  background-color: #202020;
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #191919;
}

.project-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.project-preview h2 {
  font-size: 20px;
  color: #35acf1;
  margin-bottom: 8px;
}

.project-preview a {
  text-decoration: none;
}
