.list {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  margin: auto;
}

/* a single block element preview */

.preview {
  background-color: #202020;
  padding: 10px 16px;
  margin-top: 15px;
  border-bottom: 1px solid #191919;
}

.preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.preview h2 {
  font-size: 20px;
  color: #35acf1;
  margin-bottom: 8px;
}

.preview a {
  text-decoration: none;
}

.readme {
  padding: 1px;
}

.readme a {
  color: #35acf1;
}

.readme h1 {
  color: #35acf1;
  font-weight: bold;
  font-family: system-ui;
  margin-top: 2px
}

.readme pre {
  background-color: #282c34;
  padding: 10px;
}

.bold {
  font-family: system-ui;
  font-weight: bold;
}

.white {
  color: #f3f3f3;
}
